<section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">
          Where's My Food Truck?
        </h1>
        <p class="lead description-text">We’ll help find the best food trucks around.</p>
        <div class="search">
          <%= form_tag '/' do %>
            <div class="form-row">
              <div class="col-md-4 mb-3 input-icon">
                <i class="fas fa-truck-moving input-icon__icon"></i>
                <%= text_field_tag :Name, @query[:Name], class: 'form-control', placeholder: "Truck Name" %>
              </div>
              <div class="col-md-4 mb-3">
                <%= select_tag :Type, options_for_select(['Type (All)', 'American', 'Chinese', 'Korean', 'Japanese', 'Halal', 'Mongolian'], :selected => @query[:Type]), class: 'form-control' %>
              </div>
              <div class="col-md-4 mb-3 input-icon">
                <i class="far fa-user input-icon__icon"></i>
                <%= text_field_tag :Owner, @query[:Owner], class: 'form-control', placeholder: 'Owner' %>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3 input-icon">
                <i class="fas fa-map-marked-alt input-icon__icon"></i>
                <%= text_field_tag :Address, @query[:Address], class: 'form-control', placeholder: 'Address' %>
              </div>
              <div class="col-md-6 mb-3 input-icon">
                <i class="far fa-file-alt input-icon__icon"></i>
                <%= text_field_tag :Description, @query[:Description], class: 'form-control', placeholder: 'Description' %>
              </div>
            </div>
            <div>
              <%= button_tag(type: 'submit', class: "btn btn-primary btn-block mt-4") do %>
                <i class="fas fa-search"></i> Search the TRUCK!
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<section id="listings" class="py-5">
  <div class="container">
    <div class="row">
      <% @foodtrucks.each do |foodtruck| %>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <%#= image_tag "/images/covers/#{foodtruck.id}_cover.jpg", class: "card-img-top", alt: "#{foodtruck.Name}" %>
            <img class="card-img-top" src="/img/covers/<%= foodtruck.id %>_cover.jpg" alt="<%= "#{foodtruck.Name}" %>">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white"><%= foodtruck.Type %></span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary"><%= foodtruck.Name %></h4>
                <p style="font-style: italic;"><%= foodtruck.Description %></p>
                <p>
                  <i class="fas fa-map-marker-alt input-icon__icon"></i>
                  <%= foodtruck.Address %>
                </p>
              </div>
              <hr>
              <%= link_to 'Show', foodtruck_path(foodtruck.id), class: "btn btn-primary btn-block" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>


