<h1>Listing Foodtrucks</h1>
<%= form_tag '/' do %>
  <p>
    <%= label_tag :Name %><br>
    <%= text_field_tag :Name, @query[:Name] %>
  </p>

  <p>
    <%= label_tag :Type %><br>
    <%= select_tag :Type, options_for_select(['Select', 'American', 'Chinese'], :selected => @query[:Type])  %>
  </p>

  <p>
    <%= label_tag :Address %><br>
    <%= text_area_tag :Address, @query[:Address] %>
  </p>

  <p>
    <%= label_tag :Description %><br>
    <%= text_area_tag :Description, @query[:Description] %>
  </p>

  <p>
    <%= label_tag :Owner %><br>
    <%= text_field_tag :Owner, @query[:Owner] %>
  </p>

  <p>
    <%= submit_tag 'Search' %>
  </p>
  <% end %>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Address</th>
    <th></th>
  </tr>

  <% @foodtrucks.each do |foodtruck| %>
    <tr>
      <td><%= foodtruck.Name %></td>
      <td><%= foodtruck.Type %></td>
      <td><%= foodtruck.Address %></td>
      <td><%= link_to 'Show', foodtruck_path(foodtruck) %></td>
    </tr>
  <% end %>
</table>