<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">Welcome, <%= @user.first_name %> <%= @user.last_name %></h1>
      </div>
    </div>
  </div>
</section>

<section id="dashboard" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <h5 class="text-secondary"><%= @user.first_name %> <%= @user.last_name %></h5>
              </div>
              <div class="col-md-4">
                <%= link_to 'Edit', edit_user_path(@user), class: 'btn-secondary btn btn-sm' %>
              </div>
            </div>
            <h6 class="card-text"><%= @user.email %></h6>
            <h6 class="card-text"><%= @user.phone %></h6>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <h3>
          My Orders <%= link_to "Show All Orders", '/orders/my', class: 'btn btn-secondary btn-sm' %>
        </h3>
        <% if @foodtrucks.any? %>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Foodtruck</th>
              <th scope="col">Time</th>
              <th scope="col">Status</th>
              <th scope="col">Total</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <% (@orders.length > 2 ? @orders[0..1] : @orders).each_with_index do |order, index| %>
              <tr>
                <td>
                  <%= @foodtrucks_ordered[index] %>
                </td>
                <td><%= order.created_at %></td>
                <td>
                  <%= transform_order_status order.order_status %>
                </td>

                <td><%= "$#{order.order_subtotal}" %></td>
                <td><%= link_to 'Show', "/orders/detail/#{order.order_no}", class: 'btn btn-secondary btn-sm' %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          You don't have any order, why not <%= link_to 'Search for a foodtruck', '/' %>?
        <% end %>
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-9">

        <h3>
          My Trucks <%= link_to 'Create Foodtruck', '/foodtrucks/new', class: 'btn btn-secondary btn-sm' %>
        </h3>
        <% if @foodtrucks.any? %>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Address</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <% @foodtrucks.each do |foodtruck| %>
              <tr>
                <td><%= foodtruck.Name %></td>
                <td><%= foodtruck.Type %></td>
                <td><%= foodtruck.Address %></td>
                <td><%= link_to 'Show', foodtruck_path(foodtruck), class: 'btn btn-secondary btn-sm' %></td>
                <td><%= link_to 'Edit', edit_foodtruck_path(foodtruck), class: 'btn btn-secondary btn-sm' %></td>
                <td><%= link_to "#{foodtruck.is_open ? 'Close' : 'Open'}", "/foodtrucks/#{foodtruck.id}/toggle", class: 'btn btn-primary btn-sm' %></td>
                <td><%= link_to 'Destroy', foodtruck_path(foodtruck),
                                method: :delete,
                                data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-sm' %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          You don't have any truck, why not <%= link_to 'Create one', '/foodtrucks/new' %>?
        <% end %>
      </div>
    </div>
  </div>
</section>