<div class="row">
  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title">
          Basic Profile
          <%#= link_to edit_user_path(@user) do %>
          <!--            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>-->
          <%# end %>
        </h1>
      </div>
      <div class="panel-body">
        <h5><%= @user.first_name %> <%= @user.last_name %></h5>
        <h5>Email: <%= @user.email %></h5>
        <h5>Phone: <%= @user.phone %></h5>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h1>
      My Orders <%= link_to "Show All #{@orders.length} Orders", '/orders/my', class: 'btn btn-primary' %>
    </h1>
    <% (@orders.length > 2 ? @orders[0..1] : @orders).each do |order| %>
      <div>
        <p><%= "Truck: #{order.truck_id}" %></p>
        <%= link_to "Order no: #{order.order_no}", "/orders/detail/#{order.order_no}" %>
        <p><%= "Order status: #{transform_order_status order.order_status}" %></p>
        <p><%= "Order Subtotal: $ #{order.order_subtotal}" %></p>
        <p><%= "Created at: #{order.created_at}" %></p>
        <br>
      </div>
    <% end %>

    <h1>
      My Trucks <%= link_to 'Create a Food Truck', '/foodtrucks/new', class: 'btn btn-primary' %>
    </h1>
    <% if @foodtrucks.any? %>
      <% @foodtrucks.each do |foodtruck| %>
        <tr>
          <td><%= foodtruck.Name %></td>
          <td><%= foodtruck.Type %></td>
          <td><%= foodtruck.Address %></td>
          <td><%= link_to 'Show', foodtruck_path(foodtruck) %></td>
          <td><%= link_to 'Edit', edit_foodtruck_path(foodtruck) %></td>
          <td><%= link_to 'Destroy', foodtruck_path(foodtruck),
                          method: :delete,
                          data: {confirm: 'Are you sure?'} %></td>
          <td><%= link_to "#{foodtruck.is_open ? 'Close' : 'Open'}", "/foodtrucks/#{foodtruck.id}/toggle", class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    <% else %>
      You don't have any truck, why not <%= link_to 'Create one', '/foodtrucks/new' %>?
    <% end %>


  </div>
</div>
