<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">Checkout Order</h1>
      </div>
    </div>
  </div>
</section>

<section id="checkout" class="py-4">
  <div class="container">
    <h3>Place Order to <%= @truck_info["Name"] %></h3>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <% if @item_list.any? %>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Item Number</th>
              <th scope="col">Thumbnail</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
            </tr>
            </thead>
            <tbody>
            <% @item_list.each_with_index do |item, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= item[:item_img] %></td>
                <td><%= item[:item_name] %></td>
                <td><%= "$ #{item[:item_price]}" %></td>
                <td><%= item[:quantity] %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>

    <div align="right">
      <h5><%= "Order Subtotal: $ #{@order_subtotal}" %></h5>
      <%= link_to 'Go Back Edit', "/foodtrucks/#{@truck_info[:id]}", class: 'btn btn-primary btn-sm' %>
      <%= link_to 'Place Order', orders_create_path(user: @user, truck: @truck_info, items: @item_list, subtotal: @order_subtotal),
                  method: :post, class: 'btn btn-secondary btn-sm' %>
    </div>
  </div>
</section>