<title>My Orders</title>
<h1>My Orders</h1>
<% @orders.each do |order| %>
  <div>
    <p><%= "Truck: #{order.truck_id}" %></p>
    <%= link_to "Order no: #{order.order_no}", "/orders/detail/#{order.order_no}" %>
    <p><%= "Order status: #{transform_order_status order.order_status}" %></p>
    <p><%= "Order Subtotal: $ #{order.order_subtotal}" %></p>
    <p><%= "Created at: #{order.created_at}" %></p>
    <br>
  </div>
<% end %>
