<title>My Orders</title>
<h1>My Orders</h1>
<% @orders.each do |order| %>
  <div>
    <p><%= "Truck: #{order.truck_id}" %></p>
    <p><%= "Order no: #{order.order_no}" %></p>
    <p><%= "Order status: #{order.order_status}" %></p>
    <p><%= "Order Subtotal: #{order.order_subtotal}" %></p>
    <p><%= "Created at: #{order.created_at}" %></p>
    <% order_no = order.order_no %>
    <% @items[order_no].each_with_index do |item, index| %>
      <div>
        <p><%= "Item Number: #{index + 1}" %></p>
        <p><%= "Item Name: #{item.item_name}" %></p>
        <p><%= "Item Price: #{item.item_price}" %></p>
        <p><%= "Quantity: #{item.quantity}" %></p>
      </div>
    <% end %>
    <br>
  </div>
<% end %>
