<section id="showcase-inner">
  <div style="height: 100%">
    <div class="showcase-inner-overlay">&nbsp;</div>
    <img class="showcase-inner-img" src="/img/showcase.jpg" alt="">
  </div>
  <div class="heading-box">
    <div class="row text-center">
      <div class="col-md-12">
        <div class="heading-primary">
          <h1 class="display-4">Foodtrucks We Have</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="listings" class="py-5">
  <div class="container">
    <div class="row">
      <% @foodtrucks.each do |foodtruck| %>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
<!--            <img class="card-img-top" src="https://www.wtfwheresthefoodtruck.com/assets/web/images/banner.jpg" alt="#{foodtruck.Name}">-->
            <img class="card-img-top" src="/img/covers/<%= foodtruck.id %>_cover.jpg" alt="<%= "#{foodtruck.Name}" %>">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white"><%= foodtruck.Type %></span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary"><%= foodtruck.Name %></h4>
                <p>
                  <%= foodtruck.Address %>
                </p>
              </div>
              <hr>
              <%= link_to 'Show', foodtruck_path(foodtruck), class: "btn btn-primary btn-block" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>


