<%= link_to "Back", current_user, class: "btn btn-link" %>
<p>
  <strong>Name:</strong>
  <%= @foodtruck.Name %>
</p>

<p>
  <strong>Type_of_Cusine:</strong>
  <%= @foodtruck.Type %>
</p>

<p>
  <strong>Address:</strong>
  <%= @foodtruck.Address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @foodtruck.Description %>
</p>

<h2>Menu</h2>
<%= render @foodtruck.menuitems %>

<% if current_user.id != @foodtruck.user_id %>
  <%= link_to 'Checkout', '/orders/checkout', method: :get, id: 'checkout' %>
<% end %>

