<!-- Listing 1 -->
<div class="col-md-6 col-lg-4 mb-4">
  <div class="card listing-preview">
    <% if foodtruck.cover.attached? %>
      <img class="card-img-top" src="<%= url_for(foodtruck.cover) %>>" alt="">
    <% end %>
    <div class="card-img-overlay">
      <h2>
        <span class="badge badge-secondary text-white"><%= foodtruck.Type %></span>
      </h2>
    </div>
    <div class="card-body">
      <div class="listing-heading text-center">
        <h4 class="text-primary"><%= foodtruck.Name %></h4>
        <p>
          <i class="fas fa-map-marker text-secondary"></i> <%= foodtruck.Address %>
        </p>
      </div>
      <hr>
      <%= link_to 'Show', foodtruck_path(foodtruck), class: "btn btn-primary btn-block" %>
    </div>
  </div>
</div>