<!DOCTYPE html>
<html>
<head>
  <title>Feedr</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'all', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/0208004d30.js" crossorigin="anonymous"></script>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body>
<%= render('layouts/nav.html.erb') %>
<%= yield %>
<%= render('layouts/footer.html.erb') %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src='https://js.stripe.com/v3'></script>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<script>
    setTimeout(function () {
        $('.alert-danger').fadeOut('slow');
    }, 1500);
</script>
</body>
</html>
